@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.footerDiv{
    background-color: #222;
    margin-top: 50px;
}

.brandNameFooter{
    font-size: 32px !important;
    font-family: 'Roboto', sans-serif;
    color: #ff1f5a !important;
    margin-left: 5%;
    padding-top: 5%;
}