.centerPosition{
    margin-left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    background-color: #fff;
    border: 2px solid #ff1f5a;
    padding: 0px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.centerPosition h2{
    background-color: #ff1f5a;
    padding: 25px 0px;
}
.centerPosition form{
    padding: 25px 10px;
}
/* .card-header{
    background-color: #ff1f5a;
}
 */
 .dashBoardCard{
    padding: 30px;
   background-color: #fff;
}
.card .list-group li p{
    color: #222;
    font-weight: 700;
    font-size: 16px;
}
.leftAdmin{
   
    padding-top: 30px;
}
.borderLine{
    border-right: 1px solid red;
}
.userAdmin .list-group{
    margin: 10px 25px;
}
.updateBtn input[type="file"] {
    display: none;
}

.product-img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 0px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    background-image: url('https://getuikit.com/v2/docs/images/placeholder_600x400.svg');
}
.image-item__btn-wrapper{
    text-align: center;
}
.image-item__btn-wrapper .updateBtn {
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
    background-color: #0275e1;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none !important;
}

.image-item__btn-wrapper .saveBtn {
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
    background-color: #1785c5;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none !important;
}
.imgBox .square-grid-item__img {
    background-size: cover;
    height: 250px;
    width: 100%;
    position: relative;
  }