/* .square-grid-item__img {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100.25%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    transition: transform .3s ease;
    width: 100.25%;
}


.square-grid__item-container:first-child {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.square-grid-container {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    width: 100%;
}
.square-grid-containerr {
    -ms-grid-rows: 1fr;

    display: -ms-grid;
    display: grid;
    grid-auto-flow: row dense;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    width: 100%;
}

.square-grid-item__link {
    display: block;
    overflow: hidden;
    position: relative;
}

.square-grid-item__link::before {
    content: "";
    display: block;
    padding-top: 100%;
}



.square-grid-item__info {
    color: #fff;
    opacity: 1;
    padding: 32px;
    position: absolute;
    text-decoration: none;
    transition: opacity .3s ease;
    z-index: 1;
}

.square-grid-item__details {
    bottom: 0;
    line-height: 1.4;
}

.square-grid-item__link--dim::after {
    opacity: 0;
    transition: opacity .3s ease;
}

.square-grid-item__link::after {
    background-color: #080808;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}



.square-grid-item__info {
    color: #fff;
    opacity: 1;
    padding: 32px;
    position: absolute;
    text-decoration: none;
    transition: opacity .3s ease;
    z-index: 1;
}

.square-grid-item__info {
    color: #fff;
}

.square-grid-item__details {
    line-height: 1.4;
}

.square-grid-item__item-id {
    font-size: .75em;
}

.square-grid-item__info {
    color: #fff;
}

.square-grid-item__details {
    line-height: 1.4;
}


@media screen and (min-width: 768px) {
    .square-grid-container {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    .square-grid-container {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .square-grid-item__info {
        opacity: 0;
    }
    .square-grid__item-container:first-child {
        -ms-grid-column-span: 2;
        -ms-grid-row-span: 2;
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
    .square-grid-item__info {
        opacity: 1;
    }
} */
